/* 반응형 웹 설정 */

/* 1200px 초과시 */
.container {
  background-color: green;
}

/* 1200px 이하 일 경우 */
@media (max-width:1200px) {
  .container {
    background-color: yellow;
  }
}

/* 600px 이하일 경우 */
@media (max-width:600px) {
  .container {
    background-color: red;
  }
}


